body {
    background-color: whitesmoke;
}

/* NAV START */

nav {
    border-bottom: silver solid 3px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
}
 .nav-link {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: silver;
   font-weight: lighter;
   font-size: 20px;
 }
/* NAV ENDS */


 /* HOME PAGE CONTENT START  */


.graph {
  color: silver;
  font-weight: bolder;
  font-size: 35px;
}

.bar {
  border-right: silver solid 3px;
  /* border-left: silver solid 3px; */
}

.find {
  font-weight: bolder;
  font-size: 5vw;
  color: black;
  letter-spacing: 15px;
  text-shadow: 1px 2px 2px silver;
}

.des {
  color: silver;
  letter-spacing: 15px;

}

.str {
  word-spacing: 3px;
  padding-left: 5px;
}

.button {
    /* background-color: silver; */
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    border: silver ridge 1px;
    /* width: 210px; */

    box-shadow: 2px 2px 1px #aaaaaa;
    -webkit-transition: width 2s; /* Safari */
   transition: width 2s;
   /* margin-left:1px; */
}



.button:hover {
  transform: scale(1.1);
}
 /* HOME PAGE CONTENT ENDS  */


/* // IMAGE ANIMATION START */
#image-slider {
    background-image: url(https://cdn.pixabay.com/photo/2017/02/25/18/18/mountains-2098408__340.jpg);
        position: relative;
        border-radius: 100%;
        width: 48vw;
        height: 50vh;
        margin-left: 38px;
        margin-top: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        border: silver solid;
        box-shadow: 5px 7px #888888;
        -webkit-animation-name: Jumbotron; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 50s; /* Safari 4.0 - 8.0 */
        -webkit-transition-timing-function: ease-out;
        -webkit-animation-delay: 2s;
        -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */        
        animation-name: Jumbotron;
        animation-duration: 50s;
        transition-timing-function: ease-out;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        
      }
      @-webkit-keyframes Jumbotron {
        0%   {background-image: url(https://cdn.pixabay.com/photo/2019/01/22/10/52/spring-3947898__340.jpg);}
        25%  {background-image: url(https://cdn.pixabay.com/photo/2017/01/31/17/44/highway-2025863__340.jpg);}
        50%  {background-image: url(https://cdn.pixabay.com/photo/2019/03/24/06/55/swan-4076964__340.jpg);}
        75%  {background-image: url(https://cdn.pixabay.com/photo/2019/03/28/22/42/road-4088226__340.jpg);} 
        100% {background-image: url(https://cdn.pixabay.com/photo/2019/03/30/21/03/space-4092053__340.jpg);} 
      }
  
      @keyframes Jumbotron {
        0%   {background-image: url(https://cdn.pixabay.com/photo/2019/01/22/10/52/spring-3947898__340.jpg);}
        25%  {background-image: url(https://cdn.pixabay.com/photo/2017/01/31/17/44/highway-2025863__340.jpg);}
        50%  {background-image: url(https://cdn.pixabay.com/photo/2019/03/24/06/55/swan-4076964__340.jpg);}
        75%  {background-image: url(https://cdn.pixabay.com/photo/2019/03/28/22/42/road-4088226__340.jpg);} 
        100% {background-image: url(https://cdn.pixabay.com/photo/2019/03/30/21/03/space-4092053__340.jpg);} 
      }

  /* // IMAGE ANIMATION ENDS */

  /* // TEXT ANIMATION START */
.typewrite {
    font-weight: bolder;
    font-size: 4vw;
    text-align: center;
    padding-top: 15vh;
    letter-spacing: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px #000000;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    animation-name: example;
    -webkit-animation-duration: 12s; /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: ease-in-out;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;  
  }
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes example {
  0%   {color: yellow;}
  25%  {color: white;}
  50%  {color: blue;}
  75%  {color: red}
  100% {color: yellow;}
  }
  /* Standard syntax */
  @keyframes example {
  0%   {color: yellow;}
  25%  {color: white;}
  50%  {color: blue;}
  75%  {color: red}
  100% {color: yellow;}
  }
  /* // TEXT ANIMATION ENDS */



   /* FOOTER AND COPY RIGHT SECTION START  */

      /* FOOTER AND COPY RIGHT SECTION ENDS  */

